<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.fooddeliveryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDeliveryApp">
        <activity
            android:name=".Delivery.DeliveryPartnerMyOrderPage"
            android:exported="false" />
        <activity
            android:name=".Delivery.ViewAllPendingRequest"
            android:exported="false" />
        <activity
            android:name=".Delivery.TrackDeliveryStatus"
            android:exported="false" />
        <activity
            android:name=".Delivery.ViewOrderInDetailedView"
            android:exported="false" />
        <activity
            android:name=".Delivery.DeliveryPartnerViewAccountDetails"
            android:exported="false" />
        <activity
            android:name=".Delivery.DeliveryPartnerHomePage"
            android:exported="false" />
        <activity
            android:name=".SignInAndUp.SignUp.SignUpDeliveryBoy"
            android:exported="false" />
        <activity
            android:name=".Customer.MyAccountDetails"
            android:exported="false" />
        <activity
            android:name=".Customer.ViewDetailedOrdersCustomer"
            android:exported="false" />
        <activity
            android:name=".Customer.AddNewAddressCustomer"
            android:exported="false" />
        <activity
            android:name=".Restaurant.ViewAllMyOrdersRestaurant"
            android:exported="false" />
        <activity
            android:name=".Restaurant.ViewDetailedPendingRequest"
            android:exported="false" />
        <activity
            android:name=".Restaurant.ViewAllPendingRequestRestaurant"
            android:exported="false" />
        <activity
            android:name=".Customer.ViewMyOrders"
            android:exported="false" />
        <activity
            android:name=".Customer.Payment.FailurePaymentPage"
            android:exported="false" />
        <activity
            android:name=".SignInAndUp.SignUp.SignUpRestaurant"
            android:exported="false" />
        <activity
            android:name=".SignInAndUp.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customer.Payment.SuccessfulPaymentPage"
            android:exported="false" />
        <activity
            android:name=".Customer.ViewOrder"
            android:exported="true" />
        <activity
            android:name=".Customer.RestaurantItems"
            android:exported="true" />
        <activity
            android:name=".Customer.CustomerHomePage"
            android:exported="true" />
        <activity
            android:name=".Restaurant.AddNewOrder"
            android:exported="true" />
        <activity
            android:name=".Restaurant.RestaurantHomePage"
            android:exported="true" />
        <activity
            android:name=".SignInAndUp.SignUp.SignUpCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".SignInAndUp.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".SignInAndUp.SignUp.SignUpMainActivity"
            android:exported="true" />
        <activity
            android:name=".Notification.SendNotif"
            android:exported="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ovElVtiJzGjxYO" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notification.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
    </application>

</manifest>